{% extends 'base.html' %}

{% block auth %}
<span class="navbar-text">
    <a href="{{ url_for('logout') }}" class="btn btn-success mr-2">Logout</a>
</span>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="card bg-white">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQMlzu0rD7fmBypv10xKDkq2Q2tPHNb7j19e9zE7brYiVrpKKg&s" width="30" height="30">
                    <div class="container"><span class="card-title h2">{{ current_user.login }}</span></div>
                </div>
            </div>
            <hr>
            {% if request.args.get('msg') %}
            <p class="text-success">{{ request.args.get('msg') }}</p>
            {% endif %}
            <h3 class="card-title">My documents</h3>
            {% if docs %}
            <div class="table-responsive">
            <table class="table table-borderless table-striped">
                <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Visibility</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for doc in docs %}
                            
                                <tr>
                                    <td>{{ doc.name }}</td>
                                    {% if not doc.visibility %}
                                    <td><a class="text-success" href="{{ url_for('vis', id=current_user.id, filename=doc.fs_name, val=1) }}">Make public</a></td>
                                    {% else %} 
                                    <td><a class="active-link" href="{{ url_for('vis', id=current_user.id, filename=doc.fs_name, val=0) }}">Make private</a></td>
                                    {% endif %}

                                    {% if doc.description %}
                                    <td>
                                    <div class="d-flex justify-content-between">
                                    {{ doc.description }} 
                                    <a class="btn btn-success" href="{{ url_for('edit', id=current_user.id, filename=doc.fs_name) }}">Edit</a>
                                    </div>
                                    </td>
                                    {% else %}
                                    <td><a class="btn btn-success" href="{{ url_for('edit', id=current_user.id, filename=doc.fs_name) }}">Create</a></td>
                                    {% endif %}

                                    <td><a class="btn btn-primary" href="{{ url_for('download', id=current_user.id, filename=doc.fs_name) }}" download>Download</a></td>
                                    <td><a class="btn btn-danger" href="{{ url_for('delete', id=current_user.id, filename=doc.fs_name) }}">Delete</a></td>
                                </tr>
                            {% endfor %}
                    </tbody>
            </table>
            </div>
            {% else %}
            <p class="text-primary">You haven't documents yet!</p>
            {% endif %}
            <div class="custom-file col-md-3 col-sm-12">
            <form enctype="multipart/form-data" method="POST">
                <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="new_doc" name="new_doc">
                    <label class="custom-file-label" for="new_doc">Download</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}