{% extends 'base.html' %}

{% block auth %}
<span class="navbar-text">
    <a href="{{ url_for('logout') }}" class="btn btn-success mr-2">Logout</a>
</span>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
        <div class="card bg-white">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQMlzu0rD7fmBypv10xKDkq2Q2tPHNb7j19e9zE7brYiVrpKKg&s" width="30" height="30">
                        <div class="container"><span class="card-title h2">{{ current_user.login }}</span></div>
                    </div>
                </div>
                <hr>
                <h3 class="card-title">Edit document <span class="font-weight-bold">{{ doc.name }}</span></h3>
                <form method="POST">
                    <div class="form-row">
                        <input class="form-control col-4 mr-2" type="text" name="description" value="{{ doc.description }}">
                        <button type="submit" class="btn btn-success">Edit</button>
                    </div>
                </form>

        </div>
    </div>
</div>
{% endblock %}