{% extends 'base.html' %}

{% block auth %}
{% if not current_user.is_authenticated %}
<span class="navbar-text">
  <a href="{{ url_for('sign_in') }}" class="btn btn-success mr-2">Sign in</a>
</span>
{% else %}
<span class="navbar-text">
  <a href="{{ url_for('account', id=current_user.id) }}" class="btn mr-2">Account</a>
</span>
<span class="navbar-text">
    <a href="{{ url_for('logout') }}" class="btn btn-success mr-2">Logout</a>
</span>
{% endif %}
{% endblock %}

{% block content %}
{% if not current_user.is_authenticated %}
<div class="container-fluid p-4 mt-4 mb-4" >
  <div class="row justify-content-center">
        <div class="col-lg-6 mb-3 mt-3">
            <div class="jumbotron justify-content-center bg-light" style="min-height: 100%">
                <h1 class="display-3">Lorem ipsum</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
        </div>
      
        <div class="col-lg-3 col-md-12">
          <div class="card shadow-sm p-2">
              <div class="card-body">
            <div class="card-title"><span class="h3">Sign up</span></div>
            {% if request.args.get('warn') %}
            <p class="text-danger mt-2">{{ request.args.get('warn') }}</p>
            {% endif %}
              <form method="POST">
              <div class="form-group">
                  <label for="login">Login</label>
                  <input type="text" class="form-control" id="login" name="login">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
              </div>
              <div class="form-group">
                      <label for="password_again">Password again</label>
                      <input type="password" class="form-control" id="password_again" name="password_again">
                  </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}


{% block table %}
<div class="container-fluid mt-4">
  <div class="jumbotron bg-white">
    <h3>Top documents</h3>
    <div class="row justify-content-center ml-1">
        <div class="table-responsive">
        <table class="table table-borderless table-striped">
            <thead>
                <tr>
                    <th>Votes</th>
                    <th>Filename</th>
                    <th>User</th>
                    <th>Description</th>
                    <th></th>
                    <th class="text-center">Vote</th>
                </tr>
            </thead>
          <tbody>
            {% for doc in docs %}
            <tr>
              <td><div class="ml-2"> {{ doc.votes }}</div></td>
              <td class="font-weight-bold">{{ doc.name }}</td>
              <td>{{ doc.login }}</td>
              <td>{{ doc.description }}</td>
              <td><a href="{{ url_for('download', id=doc.owner, filename=doc.fs_name)}}" download>Download</a></td>
              <td class="d-flex justify-content-around">
                {% if current_user.is_authenticated %}
                    {% if current_user.voted.get(doc.fid) == 1 %}
                    <span class="text-success">Upvoted</span>
                    {% elif current_user.voted.get(doc.fid) == -1 %}
                    <span class="text-danger">Downvoted</span>
                    {% else %}
                    <a class="text-success" href="{{url_for('upvote', fid=doc.fid)}}">Upvote</a> 
                    <a class="text-danger" href="{{url_for('downvote', fid=doc.fid)}}">Downvote</a>
                    {% endif %}
                {% else %}
                <a class="text-success" href="{{url_for('sign_in')}}">Upvote</a> 
                <a class="text-danger" href="{{url_for('sign_in')}}">Downvote</a>
                {% endif %}
              </td> 
            </tr>
            {% else %}
            <tr>There is no documents yet</tr>
            {% endfor %}
          </tbody>
        </table>
        </div>

    <div class="col-12">
            <nav>
              <ul class="pagination justify-content-center">
              {% if pages %}
                {% if pages.this > 1 %}
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}

                {% for page in pages.content %}
                <li class="page-item"><a class="page-link" href="#">{{ page.num }}</a></li>
                {% endfor %}

                {% if pages.this < pages.len and pages.len > 1 %}
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              {% endif %}
              </ul>
            </nav>
        </div>
    </div>
  </div>
</div>
{% endblock %}